<ul class="list-unstyled">
    <li><a href="https://twitter.com/wekempf"><i class="fa fa-twitter"></i> Twitter (wekempf)</a></li>
    <li><a href="https://github.com/wekempf"><i class="fa fa-github"></i> GitHub (wekempf)</a></li>
    <li><a href="http://stackoverflow.com/users/80193/wekempf"><i class="fa fa-stack-overflow"></i> Stack Overflow (wekempf)</a></li>
    <li><a href="https://www.linkedin.com/in/wekempf"><i class="fa fa-linkedin"></i> LinkedIn (wekempf)</a></li>
</ul>